@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 10px;
}
.contact-add > p > i {
  margin: 0;
  padding: 0;
}

.contact h3 {
  margin: 3px 10px;
}
.contact p {
  margin: 3px;
  font-weight: lighter;
}
.contact i {
  font-size: 1.2em;
}
.contact a {
  color: #f4e9e3;
  text-decoration: none;
}
.contact a:hover {
  /* color: blue; */
  text-decoration: underline;
}
.contact_txt1 {
  font-weight: lighter;
}
.contact_txt2 {
  font-weight: bold;
}
.line {
  max-width: 580px;
  width: 100%;
  border-top: 2px solid #756659;
  box-sizing: border-box;
}
.contact-logo {
  /* 設定 logo 的容器 */
  margin-left: auto; /* 將 logo 推到右側 */
}

.sns_icon a {
  color: #f4e9e3;
  font-size: 1.6em;
  margin: 0 3px;
}
.sns_icon i:hover {
  transform: scale(1.1);
}
.sns {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #f00; */
  display: inline-block;
}

.sns_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  /* height: 270px; */
  color: #f4e9e3;
  background-color: #756659;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer #tibame {
  color: #f4e9e3;
  max-width: 1000px;
  margin: 0 20px 10px;
  /* margin: 0; */
  /* margin-top: auto;  */
  /* 讓 p 自動推到 footer 底部 */
  /* margin-bottom: 20px; */
  text-align: center;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .contact {
    /* background-color: #ccc; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
  .contact-add {
    text-align: center;
  }
  .contact-add i {
    opacity: 0;
  }
  .contact h3 {
    margin-bottom: 10px;
  }
}
