@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
.contactAll {
  /* background-color: #cfc; */
  /* margin: 0 auto; */
  /* max-width: 1200px; */
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.contact {
  padding: 0 20px;
  /* background-color: #ccc; */
  gap: 150px;
  max-width: 1200px;
  display: flex;
  align-items: center;
}
.contact h3 {
  margin: 3px 10px;
}
.contact p {
  margin: 15px;
  font-weight: lighter;
}
.contact i {
  font-size: 1.2em;
}
.contact a {
  color: #756659;
  text-decoration: none;
}
.contact a:hover {
  color: blue;
  text-decoration: underline;
}
/* .contact-info, .logo {
  flex: 1;
} */
.line {
  max-width: 580px;
  flex: 1;
  position: relative;
  border-top: 2px solid #756659;
  box-sizing: border-box;
}
.contact-logo {
  /* 設定 logo 的容器 */
  margin-left: auto; /* 將 logo 推到右側 */
}

.sns_icon a {
  color: #756659;
  font-size: 1.6em;
  margin: 0 3px;
}
.sns {
  display: flex;
  flex-direction: column; /* 讓內容垂直排列 */
  align-items: center; /* 使內容在水平方向居中 */
}

.sns_logo {
  display: flex;
  flex-direction: column; /* 讓內容垂直排列 */
  align-items: center; /* 使內容在水平方向居中 */
}

footer {
  width: 100vw;
  margin: 0;
  height: 270px;
  background-color: #756659;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
footer p {
  color: #f4e9e3;
  max-width: 1197px;
  margin: 0;
  margin-top: auto; /* 讓 p 自動推到 footer 底部 */
  margin-bottom: 20px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: start;
    width: 100%;
    /* background-color: #0ff; */
    margin-top: 80px;
  }
  .contact-info {
    /* background-color: #0f0; */
    text-align: left;
  }
  .sns {
    margin: 20px 0;
    /* background-color: #ff0; */
    width: 100%;
  }
  .contact-logo {
    display: none;
  }
}
