@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
/*body {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", serif;
  font-size: 100%;
  color: #756659;
}
header {
  height: 75px;
  background-color: #f4e9e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; 
}
.logo {
  display: flex;
  align-items: center;
 
}
.logo_txt {
  display: flex;
  flex-direction: column; 
  margin-left: 5px;
}
#logo_txt1 {
  font-weight: lighter;
  font-size: 12px;
}
#logo_txt2 {
  font-weight: bold;
}
.nav-menu {
  display: flex;
  gap: 20px; 
  align-items: center; 
}
.nav-menu a {
  text-decoration: none;
  color: #756659;
  font-family: "Noto Serif JP", serif;
}
.nav-aboutCat {
  display: flex;
  align-items: center; 
  gap: 5px; 
}
.cover {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}
.dou {
  display: flex;
  max-width: 1440px;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.dou6 {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  opacity: 0.5;
}
.dou6:hover {
  opacity: 1;
}
.img6 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.img6 img {
  width: 100%;
}
.pre,
.naxt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pre::before,
.naxt::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5); 
  z-index: -1; 
}

.pre {
  left: 30px;
}

.naxt {
  right: 30px;
}
.item button {
  margin-right: 10px;
  width: 100px;
  color: #f4e9e3;
  background-color: #756659;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Noto Serif JP", serif;
  padding: 3px 5px;
}
.item img {
  width: 16px;
  margin-right: 2px;
}

.lang > #lang_button {
  width: 35px;
  height: 35px;
  color: #f4e9e3;
  background-color: #756659;
  border: 0;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
  font-family: "Noto Serif JP", serif;
}

.main_title {
  display: flex;
  align-items: center; 
  justify-content: center; 
  max-width: 1440px;
  z-index: 1;
}
.main_title h1 {
  padding: 0 20px;
  margin: 0;
  color: #756659;
  text-align: center;
  display: inline-block;
  margin: 20px 0;
}
.title_line {
  width: 500px;
  padding: 0 10px;
  border-top: 2px solid #756659;
  box-sizing: border-box;
}
.main {
  max-width: 1020px;
  display: flex;
  margin: auto;
}
.main_menu {
  position: relative;
  display: inline-block;
  margin: 5px;
}
.title {
  position: absolute;
  bottom: 0;
  background-color: #a8a8a848;
  color: #fff;
  height: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Noto Serif JP";
  font-size: 24px;
  font-weight: bold;
}*/

.contact {
  display: flex; /* 啟用 Flexbox 讓子元素並排 */
  justify-content: space-between; /* 在兩個區塊之間添加空間 */
  align-items: center; /* 垂直置中兩個區塊 */
  /* gap: 10px; 
  margin: auto; */
  margin-right: 5px;
}
.contact h3 {
  margin: 3px 10px;
}
.contact p {
  margin: 15px;
  font-weight: lighter;
}
.contact i {
  font-size: 1.2em;
}
.contact a {
  color: #756659;
  text-decoration: none;
}
.contact a:hover {
  color: blue;
  text-decoration: underline;
}
/* .contact-info, .logo {
  flex: 1;
} */
.line {
  max-width: 580px;
  flex: 1;
  position: relative;
  border-top: 2px solid #756659;
  box-sizing: border-box;
}
.contact-logo {
  /* 設定 logo 的容器 */
  margin-left: auto; /* 將 logo 推到右側 */
}

.sns_icon a {
  color: #756659;
  font-size: 1.6em;
  margin: 0 3px;
}
.sns {
  display: flex;
  flex-direction: column; /* 讓內容垂直排列 */
  align-items: center; /* 使內容在水平方向居中 */
}

.sns_logo {
  display: flex;
  flex-direction: column; /* 讓內容垂直排列 */
  align-items: center; /* 使內容在水平方向居中 */
}

footer {
  height: 270px;
  background-color: #756659;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer p {
  color: #f4e9e3;
  max-width: 1197px;
  margin: 0;
  margin-top: auto; /* 讓 p 自動推到 footer 底部 */
  margin-bottom: 20px;
  text-align: center;
}
