@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
body {
  margin: 0 ;
  padding: 0;
  font-family: "Noto Serif JP", serif;
  font-size: 100%;
  color: #756659;
}
header {
  height: 75px;
  background-color: #f4e9e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* 增加內邊距 */
  /* width: 100%; */
}
.logo {
  display: flex;
  align-items: center; /* 將圖片和文字垂直方向上置中 */
  /* gap: 10px; 控制圖片和文字之間的間距 */
}
.logo_txt {
  display: flex;
  flex-direction: column; /* 讓文字垂直排列 */
  margin-left: 5px;
}
#logo_txt1 {
  font-weight: lighter;
  font-size: 12px;
}
#logo_txt2 {
  font-weight: bold;
}
.nav-menu {
  display: flex;
  gap: 20px; /* 適當加大選單之間的間距 */
  align-items: center; /* 將選單項目在垂直方向上置中 */
}
.nav-menu a {
  text-decoration: none;
  color: #756659;
  font-family: "Noto Serif JP", serif;
}
.nav-aboutCat {
  display: flex;
  align-items: center; /* 將文字和圖標垂直置中 */
  gap: 5px; /* 文字和圖標之間的間距 */
}
.cover {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 500px;
  margin: 0 auto;
  /* background-color: #ff0; */
    overflow: hidden;
}
.dou {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  z-index: 1;
}
.dou li {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
  opacity: 0.6;
}
.dou li.clicked {
  background-color: #6d6d6d;
  width: 15px;
  height: 15px;
}
/* .dou6:hover {
  opacity: 1;
} */
.img6 {
  display: flex;
  /* transition: transform 0.5s ease-in-out; */
  /* max-width: 1440px; */
  width: 100%;
  height: 500px;
  position: relative;
  /* animation: slider 5s 3; */
  /* overflow: hidden; */
}
.img6 img {
  width: 100%;
  height: 100%;
}
/* @keyframes slider {
  0%{left:     0px;}
 20%{left:  -1440px;}
 50%{left: -2880px;}
 70%{left: -4320px;}
100%{left: -5750px;}
} */
.pre,
.naxt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pre::before,
.naxt::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5); /* 透明黑色背景 */
  border-radius: 50%;
  z-index: -1; /* 圓圈放在圖片後面 */
}

.pre {
  left: 30px;
}

.naxt {
  right: 30px;
}
.item button {
  margin-right: 10px;
  width: 100px;
  color: #f4e9e3;
  background-color: #756659;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Noto Serif JP", serif;
  padding: 3px 5px;
  margin: 0;
}
.item img {
  width: 16px;
  height: 16px;
  margin-right: 2px;
}

.lang > #lang_button {
  width: 35px;
  height: 35px;
  color: #f4e9e3;
  background-color: #756659;
  border: 0;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
  font-family: "Noto Serif JP", serif;
  padding: 2px;
  margin: 0;
}
/*
.main_title {
  display: flex;
  align-items: center; 
  justify-content: center; 
  max-width: 1440px;
  z-index: 1;
}
.main_title h1 {
  padding: 0 20px;
  margin: 0;
  color: #756659;
  text-align: center;
  display: inline-block;
  margin: 20px 0;
}
.title_line {
  width: 500px;
  padding: 0 10px;
  border-top: 2px solid #756659;
  box-sizing: border-box;
}
.main {
  max-width: 1020px;
  display: flex;
  margin: auto;
}
.main_menu {
  position: relative;
  display: inline-block;
  margin: 5px;
}
.title {
  position: absolute;
  bottom: 0;
  background-color: #a8a8a848;
  color: #fff;
  height: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Noto Serif JP";
  font-size: 24px;
  font-weight: bold;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center; 

  margin-right: 5px;
}
.contact h3 {
  margin: 3px 10px;
}
.contact p {
  margin: 15px;
  font-weight: lighter;
}
.contact i {
  font-size: 1.2em;
}
.contact a {
  color: #756659;
  text-decoration: none;
}
.contact a:hover {
  color: blue;
  text-decoration: underline;
}
/* .contact-info, .logo {
  flex: 1;
} 
.line {
  max-width: 580px;
  flex: 1;
  position: relative;
  border-top: 2px solid #756659;
  box-sizing: border-box;
}
.contact-logo {

  margin-left: auto; 
}

.sns_icon a {
  color: #756659;
  font-size: 1.6em;
  margin: 0 3px;
}
.sns {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.sns_logo {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

footer {
  height: 270px;
  background-color: #756659;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer p {
  color: #f4e9e3;
  max-width: 1197px;
  margin: 0;
  margin-top: auto;
  margin-bottom: 20px;
  text-align: center;
}
