@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Serif JP", serif;
  font-size: 100%;
  color: #756659;
}
header {
  height: 75px;
  background-color: #f4e9e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* 增加內邊距 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* 確保 header 寬度佔滿整個視窗 */
  z-index: 1000; /* 設置較高的層級，避免被其他元素遮住 */
}
.logo-group {
  display: flex;
  align-items: center; /* 將圖片和文字垂直方向上置中 */
  /* gap: 10px; 控制圖片和文字之間的間距 */
}
.icon-group{
  display: flex;
  /* background-color: #ccc; */
  gap: 30px;
}
.logo_txt {
  display: flex;
  flex-direction: column; /* 讓文字垂直排列 */
  margin-left: 5px;
}
.logo_txt1,.sns_txt1 {
  font-weight: lighter;
  font-size: 12px;
}
.logo_txt2,.sns_txt2 {
  font-weight: bold;
}
.nav-menu {
  display: flex;
  gap: 20px; /* 適當加大選單之間的間距 */
  align-items: center; /* 將選單項目在垂直方向上置中 */
}
.nav-menu a {
  text-decoration: none;
  color: #756659;
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
}
.nav-menu a:hover {
  text-decoration:underline;
  font-size: 18px;
}
.nav-aboutCat {
  display: flex;
  align-items: center; /* 將文字和圖標垂直置中 */
  gap: 5px; /* 文字和圖標之間的間距 */
}
.cover {
  position: relative;
  width: 100%;
  /* max-width: 1200px; */
  height: 500px;
  margin: 0 auto;
  /* background-color: #ff0; */
  overflow: hidden;
}
.dou {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  z-index: 1;
}
.dou li {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
  opacity: 0.6;
}
.dou li.clicked {
  background-color: #6d6d6d;
  width: 15px;
  height: 15px;
}
/* .dou6:hover {
  opacity: 1;
} */
.img6 {
  display: flex;
  /* transition: transform 0.5s ease-in-out; */
  /* max-width: 1440px; */
  width: 100%;
  height: 500px;
  /* height: auto; */
  position: relative;
  /* animation: slider 5s 3; */
  /* overflow: hidden; */
  left: 0;
}
.img6 img {
  width: 100%;
  height: 100%;
}
/* @keyframes slider {
  0%{left:     0px;}
 20%{left:  -1440px;}
 50%{left: -2880px;}
 70%{left: -4320px;}
100%{left: -5750px;}
} */
.pre,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pre::before,
.next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5); /* 透明黑色背景 */
  border-radius: 50%;
  z-index: -1; /* 圓圈放在圖片後面 */
}

.pre {
  left: 30px;
}

.next {
  right: 30px;
}
.item button {
  margin-right: 10px;
  width: 100px;
  color: #f4e9e3;
  background-color: #756659;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Noto Serif JP", serif;
  padding: 3px 5px;
  margin: 0;
}
/* .item img {
  width: 16px;
  height: 16px;
  margin-right: 2px;
} */

.lang > #lang_button {
  width: 35px;
  height: 35px;
  color: #f4e9e3;
  background-color: #756659;
  border: 0;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
  font-family: "Noto Serif JP", serif;
  padding: 2px;
  margin: 0;
}
@media (max-width: 1000px) and (min-width: 601px)  {
  .nav-menu {
    gap: 10px; 
  }

  .nav-menu a {
    font-size: 14px; 
  }

  .item button {
    margin-right: 10px;
    width: auto;
    color: #f4e9e3;
    background-color: #756659;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    padding: 3px 5px;
    margin: 0;
  }
  .lang > #lang_button{
    font-size: 12px;
    width: 25px;
    height: 25px;
  }
}
/* 手機螢幕（max-width: 600px） */
@media only screen and (max-width: 600px) {
  header {
    /* height: 60px; */
    padding: 0 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative; 
    position: fixed;
    top: 0;
    left: 0;
    max-width: 600px;
    width: 100%;
    z-index: 1000; /* 設置較高的層級，避免被其他元素遮住 */
  }
  .logo-group, .hamberger, .icon-group {
    flex: 1; /* 讓這三個區塊平分空間 */
    display: flex;
    justify-content: center; /* 置中對齊內容 */
  }
  .icon-group {
    /* background-color: #0f0; */
    gap: 0;
  }
  .logo-group {
    /* background-color: #0ff; */
    display: flex;
    justify-content: flex-start;
  }
  /* .item{
    background-color: #ccc;
     height: 50%;
  } */
  .logo_txt1, .logo_txt2 {
    display: none;
  }
  .item > button {
    background: none; 
    /* background-color: #ccc; */
  border: none;
  padding: 0; 
  cursor: pointer; 
  width: auto;
  margin-right: 3px;
  font-size: 30px;
 
}
.item > button > span{  
  font-size: 0; 
  }
  .item > button .icon-color {
    color: #756659; 
  }
  .cover {
    height: auto;
  }
  .img6 img {
    width: 100%;
    height: auto;
  }

  .nav-menu {
    /* gap: 15px; */
    padding: 0;
    /* display: none; */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    background-color: #f4e9e3;
    z-index: 100;
    font-size: 24px;
    opacity: 0;
    /* 初始隱藏 */
    transform: translateY(-100%); 
    transition: transform 0.3s ease;
    /* 禁止指標事件 */
    pointer-events: none; 
  
    }
  /* 顯示 nav-menu */
  .nav-menu.active {
    opacity: 1;
    transform: translateY(0); /* 向下滑入 */
    pointer-events: auto; /* 允許指標事件 */
  }

  /* 設定每個選單項目 */
  .nav-menu a {
    font-size: 1.5rem;
    text-decoration: none;
    font-family: "Noto Serif JP", serif;
    font-weight: lighter;
    cursor: pointer;
    /* display: inline;  */
    width: 100%;
    text-align: center;
    /* background-color: #f0f; */
    margin: 0; /* 清除外部間距 */
    padding: 5px 0; /* 設置內部間距 */
  
  }
  .nav-menu a:hover {
  font-size: 1.5rem;
  background-color: #756659;
  color: #f4e9e3;
  /* padding: 10px; */
  text-decoration: none;
  }

  .lang > #lang_button{
    font-size: 16px;
    width: 40px;
    height: 40px;
  }
  nav .hamburger {
    /* background-color: #f00; */
    width: 100%; 
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
  }
  
  nav .hamburger .nav-line {
    /* cursor: pointer; */
    width: 30px;
    height: 3px;
    background-color: #756659; 
    transform-origin:  12% 50%;
    transition: all .3s ease;
  }
  .hamburger.active .nav-line:nth-child(1){
    transform: rotate(45deg);
  }
  .hamburger.active .nav-line:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .nav-line:nth-child(3){
    transform: rotate(-45deg);
  }

}

/* .main_menu {
    width: 100%;
    margin-bottom: 15px;
  }

  .contact-info {
    font-size: 14px; 減小字體大小
  } */
/* } 


