@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Serif JP", serif;
  font-size: 100%;
  color: #756659;
}
header {
  height: 70px;
  background-color: #f4e9e3;
  width: 100%; 
  display: flex;

  justify-content: center;

  z-index: 100; 
}
.headerAll{
  /* background-color: #ccc; */
  margin: 0 20px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  gap: 20px;
}
.logo-group {
  display: flex;
  align-items: center; /* 將圖片和文字垂直方向上置中 */
  /* gap: 10px; 控制圖片和文字之間的間距 */
  text-decoration: none; 
  color: inherit;
}
.icon-group{
  display: flex;
  text-align: start;
  /* background-color: #ccc; */
  gap: 1vw;
}
.logo_txt {
  display: flex;
  flex-direction: column; 
  margin-left: 5px;
}
/* .logo-group img{
  width: 6vw;
} */
.logo_txt1,.sns_txt1 {
  font-weight: lighter;
  font-size: 1em;
}
.logo_txt2,.sns_txt2 {
  font-weight: bold;
}
.nav-menu {
  display: flex;
  gap: 1vw; /* 適當加大選單之間的間距 */
  align-items: center; /* 將選單項目在垂直方向上置中 */
}
.nav-menu a {
  text-decoration: none;
  color: #756659;
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
}
.nav-menu a:hover {
  text-decoration:underline;
  font-size: 18px;
}
.nav-aboutCat {
  display: flex;
  align-items: center; 
  gap: 5px; 
}
.cover {
  position: relative;
  width: 100%;
  max-width: 1200px;
  /* height: 500px; */
  margin: 0 auto;
  /* background-color: #ff0; */
  overflow: hidden;
}
.dou {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  z-index: 1;
}
.dou li {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
  opacity: 0.6;
}
.dou li.clicked {
  background-color: #6d6d6d;
  width: 15px;
  height: 15px;
}
/* .dou6:hover {
  opacity: 1;
} */
.img6 {
  display: flex;
  /* transition: transform 0.5s ease-in-out; */
  max-width: 1440vw;
  /* height: 500px; */
  /* height: auto; */
  position: relative;
  margin: auto;
  /* animation: slider 5s 3; */
  /* overflow: hidden; */
  left: 0;
}
.img6 img {
  width: 100%;
  min-width: 700px;
  object-fit: cover;/* 確保圖片不會變形或擠壓 */
  height: auto;
}
.newsImage{
  background-size: cover;
  background-position: center; 
  width: 100%;
  height: 500px;
  background-image: url(../assets/news-cover02.png);
}
/* 文字樣式 */
.overlay-text {
  font-family: "Noto Serif JP", serif;
  position: absolute; /* 使用絕對定位 */
  top: 50%; /* 從上方距離 */
  right: 10%; /* 從左邊距離 */
  color: #ffffff; /* 字體顏色 */
  font-size: 3em; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
}

.overlay-description {
  font-family: "Noto Serif JP", serif;
  position: absolute;
  bottom: 30%; /* 可以根據需要調整 */
  right: 15%; /* 從左邊距離 */
  color: #ffffff; /* 字體顏色 */
  font-size: 1.5em; /* 字體大小 */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* 文字陰影效果 */
}
/* @keyframes slider {
  0%{left:     0px;}
 20%{left:  -1440px;}
 50%{left: -2880px;}
 70%{left: -4320px;}
100%{left: -5750px;}
} */
.pre,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pre::before,
.next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5); /* 透明黑色背景 */
  border-radius: 50%;
  z-index: -1; /* 圓圈放在圖片後面 */
}

.pre {
  left: 30px;
}

.next {
  right: 30px;
}
.item button {
  margin-right: 5%;
  width: 100px;
  color: #f4e9e3;
  background-color: #756659;
  border: 0;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  font-family: "Noto Serif JP", serif;
  padding: 3px 5px;
  margin: 0;
}
/* .item img {
  width: 16px;
  height: 16px;
  margin-right: 2px;
} */

.lang > .lang_button {
  width: 35px;
  height: 35px;
  color: #f4e9e3;
  background-color: #756659;
  border: 0;
  border-radius: 50%;
  font-size: 1em;
  font-weight: bold;
  font-family: "Noto Serif JP", serif;
  padding: 2px;
  margin: 0;
}
.hamburgerAll{
display: none;
}
@media (max-width: 1000px) and (min-width: 769px)  {



  .nav-menu a {
    font-size: 0.9em; 
  }

  .item button {
    background: none; 
  border: none;
  padding: 0; 
  cursor: pointer; 
  width: auto;
  margin-right: 3px;
  font-size: 1.5em;
  color: #756659;
  }
  .logo_txt1,.logo_txt2 {
    font-size: 0.2em;
  }

  .item span{
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .cover {
    width: 100%;          /* 確保容器全寬 */
    overflow: hidden;     /* 隱藏溢出 */
  }
  .img6 img {
    min-width: 500px;
   width: 100%;
    /* min-height: 55vh;    */
     /* 圖片寬度不小於螢幕寬 */
    object-fit: cover;   /* 保持圖片完整顯示 */
  }
  .headerAll{
  width: 100vw;

  padding: 10px 20px;
 }
  nav{
    display: none;
  }
  .logo-group, .hamberger, .icon-group {
     /* 讓這三個區塊平分空間 */
    /* flex: 1; */
    display: flex;
    justify-content: center; /* 置中對齊內容 */
  }
  .icon-group {
    /* background-color: #0f0; */
    gap: 0;
  }
  .logo-group {
    /* background-color: #0ff; */
    display: flex;
    justify-content: flex-start;
  }
  /* .item{
    background-color: #ccc;
     height: 50%;
  } */
  .logo_txt1, .logo_txt2 {
    display: none;
  }
  .item > button {
    background: none; 
    /* background-color: #ccc; */
  border: none;
  padding: 0; 
  cursor: pointer; 
  width: auto;
  margin-right: 3px;
  font-size: 30px;
 
}
.item > button > span{  
  font-size: 0; 
  }
  .item > button .icon-color {
    color: #756659; 
  }
  .cover {
    height: auto;
    max-width: 1200px;
  }
  .img6 img {
    width: 100%;
    height: auto;
  }

  .nav-menu-hamburger {
    gap: 30px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    /* justify-content: space-around; */
    top: 70px;
    /* left: 0; */
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: #f4e9e3;
    z-index: 100;
    font-size: 24px;
    opacity: 0;
    /* 初始隱藏 */
    /* transform: translateY(-100%);  */
    transform: translateX(100%); 
    /* transform: matrix(1, 0, 0, 1, 0, 0); */
    transition: transform 0.6s ease ease-in-out;
    /* transition: transform 0.6s cubic-bezier(0, 0, 0.19, 0.99); */
    /* 禁止指標事件 */
    pointer-events: none; 
    }
  /* 顯示 nav-menu */
  .nav-menu-hamburger.active {
    opacity: 1;
    /* 向下滑入 */
    /* transform: translateY(0);  */
    transform: translateX(0); 
    /* 允許指標事件 */
    pointer-events: auto; 
  }

  /* 設定每個選單項目 */
  .nav-menu-hamburger a {
    font-size: 1.5rem;
    text-decoration: none;
    font-family: "Noto Serif JP", serif;
    font-weight: lighter;
    cursor: pointer;
    width: 100%;
    text-align: center;
    /* background-color: #ccc; */
    padding: 5px 0;
    color: #756659;
  
  }
  .nav-menu-hamburger a:hover {
  font-size: 1.5rem;
  background-color: #756659;
  color: #f4e9e3;
  /* padding: 10px; */
  text-decoration: none;
  }
.lang-hamburger{
display: flex;
margin: 10px;
flex-direction: column;
justify-content: space-around;
align-content: center;
/* background-color: #ccc; */
gap: 15px;
}
.lang_button-hamburger{
  border: 1px solid #756659;
  /* margin: 20px; */
  width: 100%;
  text-align: center;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
}
.lang_button-hamburger:hover{
  background-color: #756659;
  color: #f4e9e3;
}
  .lang {
  display: none;
  }
  .headerAll{
    position: fixed;
  }
  .hamburgerAll .hamburger {
    /* background-color: #f00; */
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
    /* background-color: #ccf; */
  }
  .hamburgerAll{
    display: block;
    display: flex;
    /* background-color: #ccc; */
  }
  .hamburgerAll .hamburger .nav-line {
    /* cursor: pointer; */
    width: 30px;
    height: 3px;
    background-color: #756659; 
    transform-origin:  12% 50%;
    transition: all 0.3s ease;
  }
  .hamburgerAll .active .nav-line:nth-child(1){
    transform: rotate(45deg);
  }
  .hamburgerAll .active .nav-line:nth-child(2){
    opacity: 0;
  }
  .hamburgerAll .active .nav-line:nth-child(3){
    transform: rotate(-45deg);
  }
  .newsImage {
    height: 300px; 
}
.overlay-text {

  top: 50%; 
  right: 10%;
  /* font-size: 1em;  */
 
}

.overlay-description {

  bottom: 15%; 
  right: 20%; 
  /* font-size: 0.3em;  */

}

}


/* .main_menu {
    width: 100%;
    margin-bottom: 15px;
  }

  .contact-info {
    font-size: 14px; 減小字體大小
  } */
/* } 


