@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main_title {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0; /* 上下內距 */
}
.main_title h1 {
  /* padding: 0 20px; */
  margin: 0;
  color: #756659;
  text-align: center;
  /* display: inline-block; */
  margin: 20px 0;
  font-size: 36px;
  width: 30%;
}
.title_line {
  width: 500px;
  padding: 0 10px;
  border-top: 2px solid #756659;
  box-sizing: border-box;
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0 5%; /* 線的左右外距 */
}
.main {
  max-width: 1020px;
  display: flex;
  margin: auto;
  margin-bottom: 300px;
}
.main_menu {
  position: relative;
  display: inline-block;
  /* width: 100%; */
  /* max-width: 340px; */
  margin: 5px;
  overflow: hidden; /* 確保子元素不會超出父元素 */
}
.title {
  /* position: absolute;
  bottom: 0;
  background-color: #a8a8a848;
  color: #fff;
  height: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; */
  font-family: "Noto Serif JP";
  font-size: 24px;
  font-weight: bold;
  /* ===== */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8)
  ); /* 漸層背景 */
  opacity: 0;
  /* border-radius: 8px; */
  transform: translateY(30px);
  transition: 0.3s ease;
}

.main_menu:hover .title {
  opacity: 1;
  transform: translateY(0);
}
.main_menu img {
  transition: filter 0.3s ease; /* 添加平滑過渡 */
}

.main_menu:hover img {
  filter: brightness(0.5); /* 懸停時使圖片變暗 */
}

/* 手機螢幕（max-width: 600px） */
@media only screen and (max-width: 600px) {
  .main_title h1 {
    font-size: 24px;
    width: 100%;
    /* background-color: #ccc; */
  }
  .title_line {
    width: 50%; /* 在小屏幕上縮小 */
  }
  .main {
    flex-direction: column; /* 讓主容器在手機上垂直排列 */
    align-items: center; /* 中央對齊 */
  }

  .main_menu {
    width: 100%; /* 寬度為100%以填滿螢幕 */
    max-width: none; /* 取消固定寬度限制 */
  }
  .main img {
    width: 100%;
    height: 500px;
    /* 確保圖片填滿容器並裁切多餘部分 */
    object-fit: cover;
    /* 圓角效果 */
    border-radius: 8px;
  }
}
.area {
  opacity: 0;
  transition: 0.6s ease-in-out; /* 過渡時間和效果 */
  transform: translateY(-30px); /* 預設往上偏移一點 */
}

.area.visible {
  opacity: 1;
  transform: translateY(0); /* 恢復到原位 */
}
/* about */

/* --------------關於貓宅------------- */
/* .container {
  gap: 100px;
} */
.left_title {
  margin: 0 0 37px 20px;
  display: block;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right_title {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0 20px 37px 0;
  gap: 10px;
}
/* .right_title h1 {
  margin: 0 10px;
} */
#rect_button {
  width: 180px;
  color: #f4e9e3;
  background-color: #756659;
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  font-weight: lighter;
  font-family: "Noto Serif JP", serif;
  padding: 10px 30px;
  text-align: center;
  box-sizing: border-box; /* 確保寬度包含 padding */
}
.aboutCat {
  /* background-color: #fcf; */
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  padding: 20px;
  margin-bottom: 100px;
}
.aboutCat img {
  height: 315px;
  width: 315px;
}
.about_img01,
.about_img02 {
  position: absolute;
  width: 336px; /* 控制圖片寬度，根據需要調整 */
}

.about_img01 {
  right: 20px;
  top: 50px; /* 控制第一張圖片的位置 */
  z-index: 1; /* 設置圖片層級，這張圖片會在第二張之上 */
}

.about_img02 {
  right: 200px;
  top: 280px; /* 控制第二張圖片的位置，稍微向下移動 */
  z-index: 2; /* 設置較低的層級，這張圖片會在第一張圖片下方 */
}
/* 手機螢幕（max-width: 600px） */
@media only screen and (max-width: 600px) {
  .aboutCat {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    /* background-color: #ccc; */
  }
  .aboutCat img {
    margin: 0 auto;
  }
  .about_img01,
  .about_img02 {
    position: static;
    /* display: block; */
    margin: 10px auto;
  }
}
/* --------------關於 貓宅環境------------- */
.catHouse {
  /* background-color: #ffc; */
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin-bottom: 100px;
}
.cathouse_img {
  position: relative;
  width: 100%; /* 容器的寬度 */
  height: 700px; /* 根據需求設置合適的高度 */
}
.cathouse_img01,
.cathouse_img02,
.cathouse_img03 {
  position: absolute;
  width: 302px;
}
.cathouse_img01 {
  top: -50px;
  left: 0; /* 第一張圖靠左 */
}
.cathouse_img02 {
  top: 70px;
  left: 320px; /* 第二張圖稍微右移 */
}
.cathouse_img03 {
  top: 130px;
  left: 640px; /* 第三張圖再往右移 */
}
@media only screen and (max-width: 600px) {
  .cathouse_img {
    /* background-color: #ccc; */
    height: 100%;
  }
  .cathouse_img01,
  .cathouse_img02,
  .cathouse_img03 {
    display: block;
    position: static;
    margin: 20px auto;
    width: 300px;
    height: 300px;
    /* width: 100%; */
    /* height: 100%; */
    object-fit: cover; /* 保持比例並填滿容器 */
  }
}
/* ----------------關於 最新消息------------------ */
.news {
  /* background-color: #ccc; */
  margin-bottom: 100px;
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: space-between; /* 讓每個新聞項目左右分佈 */
  margin: 0 20px 50px 20px;
}
.news01,
.news02,
.news03 {
  position: relative; /* 父元素設為 relative 以便內部元素絕對定位 */
  width: 358px; /* 設置圖片容器的寬度，可根據需要調整 */
}

.news01 img,
.news02 img,
.news03 img {
  width: 100%;
  display: block;
}
.news_item span {
  /* position: absolute;
  bottom: 0; 距離圖片上方20px，可以根據需求調整
  color: white; 文字顏色為白色，避免與圖片背景混淆
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(
    203,
    203,
    203,
    0.5
  );
  padding: 5px 0;
  text-align: center;
  width: 358px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); 深灰色陰影 */
  font-family: "Noto Serif JP", serif;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8)
  ); /* 漸層背景 */
  opacity: 0;
  /* border-radius: 8px; */
  transform: translateY(30px);
  transition: 0.3s ease;
}

.news01:hover span,
.news02:hover span,
.news03:hover span {
  opacity: 1;
  transform: translateY(0);
}
.news_item span {
  /* 添加平滑過渡 */
  /* transition: filter 0.3s ease; */
  transition: opacity 0.3s ease;
}
.news_item > .news {
  opacity: 0;
}
/* .news_item:hover span { */
/* 懸停時使圖片變暗 */
/* filter: brightness(0.5); */
/* } */
.news_item {
  display: flex;
}
.news_button {
  display: flex;
  flex-direction: column;
  align-items: center; /* 水平置中 */
  justify-content: center; /* 垂直置中，當容器有固定高度時有效 */
}
button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  .news_item {
    width: 100%;
    /* height: 385px;  */
    position: relative;
    overflow: hidden;
  }

  .carousel {
    display: flex; /* 使用flexbox來排版 */
    transition: transform 0.5s ease; /* 平滑過渡 */
    margin: 0;
  }

  .news01,
  .news02,
  .news03 {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
  }
  /* .news01 span,
  .news02 span,
  .news03 span {
    opacity: 1;
    bottom: 0;
    margin: 0;
    padding: 0;
    transform: translateY(0);
  } */
  /* .news01:hover span,
  .news02:hover span,
  .news03:hover span {
    opacity: 0;
    transform: translateY(0);
  } */
  .news01 img,
  .news02 img,
  .news03 img {
    width: 100%;
    height: auto;
  }
  .news_item > .news {
    opacity: 1;
  }
}
/* -------------------地圖--------------------- */

.address_map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 100px 0;
  gap: 50px;
}
.address iframe {
  /* max-width: 1000px; */
  width: 800px;
  height: 500px;
  border: 0;
  /* style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade" */
}
.address a {
  color: #f4e9e3;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .address iframe {
    width: 90%;
  }
}

/*------------------------最新消息 ------------------------*/
.main_title {
  display: flex;
  align-items: center; /* 垂直置中 */
  justify-content: center; /* 水平置中 */
  max-width: 1200px;
}
.main_title h1 {
  padding: 0 20px;
  margin: 0;
  color: #756659;
  text-align: center;
  display: inline-block;
  margin: 20px 0;
}
.title_line {
  width: 500px;
  padding: 0 10px;
  border-top: 2px solid #756659;
  box-sizing: border-box;
}
.news_main01,
.news_main02,
.news_main03 {
  display: flex;
  margin: 30px;
}
.news_main01 img,
.news_main02 img,
.news_main03 img {
  margin: 30px;
}
.news_main01 .txt,
.news_main02 .txt,
.news_main03 .txt {
  margin-top: 100px;
}
hr {
  width: 95%; /* 設置水平線的長度為容器寬度的50% */
  height: 2px; /* 設置水平線的高度 */
  background-color: #756659; /* 設置水平線的顏色 */
  border: none; /* 移除預設的邊框樣式 */
  margin: 20px auto; /* 讓 hr 水平居中，並設置上下的外邊距 */
}
.page {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  display: flex;
  justify-content: center; /* 讓按鈕水平居中 */
  align-items: center; /* 讓按鈕垂直居中 */
  gap: 15px; /* 控制每個按鈕之間的間距 */
  margin: 50px;
}
#pageButton {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #756659;
  font-family: "Noto Serif JP", serif;
  border: 1px solid #756659; /* 按鈕的邊框顏色 */
  border-radius: 50%; /* 使按鈕變成圓形 */
  text-align: center; /* 文字水平居中 */
  line-height: 20px; /* 讓文字垂直居中，與按鈕高度相等 */
  font-size: 16px; /* 字體大小 */
  font-weight: lighter; /* 字體加粗 */
  padding: 0; /* 移除 padding 確保按鈕大小不被擴展 */
  cursor: pointer; /* 滑鼠懸停時顯示指針 */
  background-color: #fff;
}
.arrow {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #ccc;
  opacity: 0.5;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* 平滑的懸停效果  */
  transition: background-color 0.3s;
  cursor: pointer;
}
.arrow > i {
  font-size: 30px;
  color: #756659;
}
.arrow:hover {
  border: 2px solid #756659;
  /* width: 40px;
  height: 40px; */
  transform: scale(1.2);
}
#toTop {
  /* display: none; */
  position: fixed; /* 固定位置 */
  bottom: 20px; /* 距離底部 20px */
  right: 20px; /* 距離右側 20px */
  z-index: 100; /* 確保在最上層 */
}
@media only screen and (max-width: 600px) {
  .news_main,
  .news_main01,
  .news_main02,
  .news_main03 {
    display: flex;
    flex-direction: column;
  }
  .news_main01 .txt,
  .news_main02 .txt,
  .news_main03 .txt {
    margin: 0;
  }
}
/* -------------------菜單------------------------ */

.menuButton {
  color: #f4e9e3;
  text-align: center;
  margin-top: 20px;
}
.menuButton img {
  width: 100%;
  height: 50px;
}
.menuButton > .menu_button {
  border: 1px solid #756659;
  border-radius: 50px;
  padding: 10px 39px;
  cursor: pointer;
  margin: 0 10px;
}
.shop_menu {
  max-width: 1200px;
  margin: auto;
}
.shop_menu h3 {
  font-size: 36px;
  margin-bottom: 10px;
}
/* .shop_menu .line {
  width: 500px;
  padding: 0 10px;
  border-top: 2px solid #756659;
  box-sizing: border-box;
} */
.coffee_item {
  display: flex;
  flex: 1;
}
.coffee_name {
  flex: 1;
}
.menu_coffee .hot,
.menu_coffee .cold {
  width: 10px;
  height: 10px;
  padding: 10px;
  border-radius: 50%;
  font-size: 16px;
  /* text-align: center; */
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_coffee .hot {
  background-color: #ff6767;
  margin-right: 10px;
}
.menu_coffee .cold {
  background-color: #67c5ff;
}
.shop_menu .txt {
  display: inline-block;
  font-weight: bold;
}
.shop_menu li {
  list-style: none;
  padding-left: 0;
  font-size: 24px;
  /* display: inline-block; */
  font-family: "Noto Serif JP";
  color: #51453b;
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 17px;
}
.coffee_price {
  flex: 1;
}
.shop_menu .price,
.coffee_item,
.coffee_price {
  font-weight: 300;
}
.shop_menu .price span,
.coffee_price span {
  margin-right: 10px;
}
.menu_coffee,
.menu_food,
.menu_sweet {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
@media only screen and (max-width: 600px) {
  .menuButton {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 20px 100px 20px;
  }
  .menuButton img {
    width: 20%;
    height: auto;
    /* margin: auto; */
  }
  .menu_coffee,
  .menu_food,
  .menu_sweet {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
    /* background-color: #ccc; */
    margin: 0 20px;
    gap: 20px;
    margin-bottom: 100px;
  }
  .menu_food {
    /* background-color: #ccc; */
    flex-direction: column-reverse; /* 反轉位置，讓圖片顯示在文字下方 */
  }
  .shop_menu li {
    width: 100%;
  }
}
/* -------------------------貓宅小物------------------------- */
.product-info {
  /* background-color: #f0f; */
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}
.left_aside {
  /* background-color: #ff0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-top: 80px;
  margin: 5px 0;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 10px;
}
.product_itemall {
  /* background-color: #cc0; */
  text-align: center;
}
/* .product_itemall:hover {
  text-decoration: underline;
  cursor: pointer;
} */
.product_itemall i {
  margin-left: 8px;
  /* background-color: #f00; */
  height: 12px;
  padding: 2px;
  display: none;
}
.product_item {
  margin: 10px 0 0 0;
  list-style: none;
  padding: 0;
  /* background-color: #c0c; */
}
.product_item:hover {
  text-decoration: underline;
  cursor: pointer;
}
.right_list {
  /* background-color: #0ff; */
  flex: 5;
  margin-bottom: 50px;
}
.product-listTop {
  /* background-color: #00f; */
  display: flex;
  gap: 20%;
  margin: 20px 10px;
  align-items: center;
  justify-content: space-between;
  /* background-color: #f0f; */
}
.label {
  display: inline-block;
  /* background-color: #ff0; */
}
/* .product-listTop img {
  margin-left: 10px;
  } */
.search-container {
  /* background-color: #ff0; */
  display: flex;
  align-items: center;
}

.search-input {
  padding: 3px;
  font-size: 12px;
  color: #51453b76;
  border: 1px solid #51453b;
  border-radius: 4px 0 0 4px; /* 左邊圓角 */
  outline: none; /* 去掉 focus 時的邊框 */
  width: 150px;
}

.search-button {
  padding: 0 2px;
  width: 40px;
  margin: 0;
  font-size: 12px;
  font-weight: lighter;
  font-family: "Noto Serif JP", serif;
  background-color: #51453b;
  color: #f4e9e3;
  border: 1px solid #51453b;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #f4e9e3;
  color: #51453b;
  /* border: 1px solid #f4e9e3; */
}

.product_all {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  justify-content: flex-start;
  gap: 16px;
}
.product_list {
  margin-bottom: 10px;
  /* background-color: #f0f; */
}

.product_list a {
  color: #51453b;
  text-decoration: none;
}
.product_list .Product-title:hover {
  text-decoration: underline;
}
/* .Product-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  } */
.Product-title {
  /* background-color: #f0f; */
  margin-top: 16px;
  font-size: 16px;
  font-weight: 100;
}
.product_price {
  /* background-color: #f00; */
  font-size: 16px;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .left_aside {
    padding-top: 10px;
  }
  .product_itemall {
    /* background-color: #f00; */
    width: 400px;
  }
  .search-container {
    width: 400px;
    justify-content: center;
  }
  .search-input {
    width: 80%;
  }
  .search-button {
    width: 20%;
  }
  .search-input,
  .search-button {
    font-size: 24px;
  }
  .product_itemall {
    font-size: 24px;
    font-weight: bold;
    background-color: #51453b;
    color: #f4e9e3;
    border-radius: 4px;
    display: block;
    height: 40px;
    cursor: pointer;
    /* position: absolute; */
    z-index: 101;
  }
  .product_item {
    font-weight: lighter;
    font-size: 24px;
    margin: 0;
    border: 1px solid #51453b6b;
    background-color: #f4e9e3;
    color: #51453b;
    opacity: 0;
    position: relative;
    /* position: absolute; */
    transform: translateY(-10px);
    transition: transform 0.3s ease;
    z-index: 100;
    display: none;
  }
  .product_item:hover {
    background-color: #51453b;
    color: #f4e9e3;
    text-decoration: none;
  }
  .product_item.active {
    opacity: 1;
    transform: translateY(0);
    display: block;
  }
  .label {
    display: none;
  }
  .product-listTop {
    justify-content: center;
  }
  .product_itemall i {
    display: inline-block;
  }
  .product-listTop {
    margin-bottom: 100px;
  }
  .product_all {
    justify-content: center;
  }
  .product_list {
    width: 100%;
    /* background-color: #008ffd; */
    padding: 10px; /* 增加內部填充 */
    text-align: center;
    /* transform: scale(1.5); */
  }
  .product_list img {
    width: 90%;
  }
  .Product-title,
  .product_price {
    font-size: 24px;
  }
}
/* -------------------------貓宅故事------------------------- */
.story_main {
  max-width: 1200px;
  margin: 0 auto;
}
.story_all {
  /* background-color: #f0f; */
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 1200px;
  margin-bottom: 100px;
}
.story_list {
  /* background-color: #f00; */
  width: 350px;
}
.story-txt {
  gap: 10px;
  padding: 0 10px;
}
.story-title {
  display: flex;
  margin: 10px 0;
  font-size: 24px;
  font-family: "Noto Serif JP";
  /* background-color: #ccc; */
  align-items: center;
  font-weight: bold;
}
.storyButton {
  /* gap: 50px; */
  /* background-color: #ccc; */
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
  align-items: center;
  margin: 20px 0 100px 0;
}
.story_button {
  width: 450px;
  border-radius: 50px;
  /* height: 29px; */
  margin: 0;
  border: 1.5px solid #51453b;
}
.button_txt {
  font-size: 16px;
  font-weight: 300;
  font-family: "Noto Serif JP";
  color: #51453b;
}
.story-cat {
  font-size: 16px;
  font-weight: 300;
}
.Male,
.female {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #f4e9e3;
  font-size: 12px;
  font-family: "Noto Serif JP";
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.Male {
  background-color: #008ffd;
}
.female {
  background-color: #fd00b5;
}
.remind {
  /* background-color: #ccc; */
  margin: 100px 0;
  display: flex;
  justify-content: space-around;
}
.txt ol {
  padding-left: 30px;
  margin-top: 5px;
  /* background-color: #ff0; */
}
/* .txt span {
  width: 500px;
} */
.txt ol li {
  /* background-color: #0ff; */
  margin: 6px 0;
}
.remind .txt {
  width: 650px;
  /* flex: 2; */
  text-align: left;
  padding: 0 20px;
  margin-right: 30px;
}
/* .remind img {
  flex: 1;
} */
